generated/schema/DemoDM.vo-dml.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by gradle vo-dml tools 2026-02-05T17:58:28.006765262Z-->
<xsd:schema xmlns:demodm="http://ivoa.net/dm/test/demodm/v0.1"
            xmlns:ivoa="http://ivoa.net/vodml/ivoa"
            xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            vc:minVersion="1.1"
            targetNamespace="http://ivoa.net/dm/test/demodm/v0.1"
            elementFormDefault="unqualified"
            attributeFormDefault="unqualified">
   <xsd:import namespace="http://ivoa.net/vodml/ivoa"
               schemaLocation="IVOA-v1.0.vo-dml.xsd"/>
   <xsd:element name="DemoDMModel">
      <xsd:complexType>
         <xsd:sequence>
            <xsd:element name="refs" minOccurs="0">
               <xsd:complexType>
                  <xsd:sequence>
                     <xsd:element name="catalog.SkyCoordinateFrame"
                                  type="demodm:catalog.SkyCoordinateFrame"
                                  minOccurs="0"
                                  maxOccurs="unbounded"/>
                  </xsd:sequence>
               </xsd:complexType>
            </xsd:element>
            <xsd:choice minOccurs="0" maxOccurs="unbounded">
               <xsd:element name="photometricSystem" type="demodm:PhotometricSystem"/>
               <xsd:element name="catalog.inner.SourceCatalogue"
                            type="demodm:catalog.inner.SourceCatalogue"/>
            </xsd:choice>
         </xsd:sequence>
      </xsd:complexType>
   </xsd:element>
   <xsd:complexType name="PhotometricSystem">
      <xsd:annotation>
         <xsd:documentation/>
         <xsd:appinfo>
            <vodml-ref>DemoDM:PhotometricSystem</vodml-ref>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:sequence>
         <xsd:element name="description"
                      type="xsd:string"
                      minOccurs="0"
                      maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>String representation Photometric system</xsd:documentation>
               <xsd:appinfo>
                  <vodml-ref>DemoDM:PhotometricSystem.description</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="detectorType" type="xsd:int" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>Type of detector (e.g energy or photon counter)</xsd:documentation>
               <xsd:appinfo>
                  <vodml-ref>DemoDM:PhotometricSystem.detectorType</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="photometryFilter">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="photometryFilter"
                               type="demodm:PhotometryFilter"
                               minOccurs="1"
                               maxOccurs="unbounded"/>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="PhotometryFilter">
      <xsd:annotation>
         <xsd:documentation/>
         <xsd:appinfo>
            <vodml-ref>DemoDM:PhotometryFilter</vodml-ref>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:sequence>
         <xsd:element name="name" type="xsd:string" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>Filter Name in the instrumental  configuration</xsd:documentation>
               <xsd:appinfo>
                  <vodml-ref>DemoDM:PhotometryFilter.name</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="description"
                      type="xsd:string"
                      minOccurs="1"
                      maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>Text description of the filter band</xsd:documentation>
               <xsd:appinfo>
                  <vodml-ref>DemoDM:PhotometryFilter.description</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="bandName" type="xsd:string" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation/>
               <xsd:appinfo>
                  <vodml-ref>DemoDM:PhotometryFilter.bandName</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="dataValidityFrom"
                      type="xsd:dateTime"
                      minOccurs="1"
                      maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation/>
               <xsd:appinfo>
                  <vodml-ref>DemoDM:PhotometryFilter.dataValidityFrom</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="dataValidityTo"
                      type="xsd:dateTime"
                      minOccurs="1"
                      maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation/>
               <xsd:appinfo>
                  <vodml-ref>DemoDM:PhotometryFilter.dataValidityTo</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="spectralLocation"
                      type="ivoa:RealQuantity"
                      minOccurs="1"
                      maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation/>
               <xsd:appinfo>
                  <vodml-ref>DemoDM:PhotometryFilter.spectralLocation</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
      </xsd:sequence>
      <xsd:attribute name="_id" type="xsd:ID"/>
   </xsd:complexType>
   <xsd:complexType name="Point">
      <xsd:annotation>
         <xsd:documentation>location on the sky in spherical coordinates</xsd:documentation>
         <xsd:appinfo>
            <vodml-ref>DemoDM:Point</vodml-ref>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:sequence>
         <xsd:element name="alpha" type="xsd:float" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>longitude angle</xsd:documentation>
               <xsd:appinfo>
                  <vodml-ref>DemoDM:Point.alpha</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="delta" type="xsd:float" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>latitude angle</xsd:documentation>
               <xsd:appinfo>
                  <vodml-ref>DemoDM:Point.delta</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="Shape" abstract="true">
      <xsd:annotation>
         <xsd:documentation>base type of all shapes</xsd:documentation>
         <xsd:appinfo>
            <vodml-ref>DemoDM:Shape</vodml-ref>
         </xsd:appinfo>
      </xsd:annotation>
   </xsd:complexType>
   <xsd:complexType name="Circle">
      <xsd:annotation>
         <xsd:documentation>a circular region on the sky</xsd:documentation>
         <xsd:appinfo>
            <vodml-ref>DemoDM:Circle</vodml-ref>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:complexContent>
         <xsd:extension base="demodm:Shape">
            <xsd:sequence>
               <xsd:element name="center" type="demodm:Point" minOccurs="1" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation>the centre of the circle</xsd:documentation>
                     <xsd:appinfo>
                        <vodml-ref>DemoDM:Circle.center</vodml-ref>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="radius" type="xsd:float" minOccurs="1" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation>the radius of the circle</xsd:documentation>
                     <xsd:appinfo>
                        <vodml-ref>DemoDM:Circle.radius</vodml-ref>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="MultiShape">
      <xsd:annotation>
         <xsd:documentation>multiple simple shapes describing regions as a single value</xsd:documentation>
         <xsd:appinfo>
            <vodml-ref>DemoDM:MultiShape</vodml-ref>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:sequence>
         <xsd:element minOccurs="1" name="shapes">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="shape"
                               type="demodm:Shape"
                               minOccurs="1"
                               maxOccurs="unbounded">
                     <xsd:annotation>
                        <xsd:documentation/>
                        <xsd:appinfo>
                           <vodml-ref>DemoDM:MultiShape.shapes</vodml-ref>
                        </xsd:appinfo>
                     </xsd:annotation>
                  </xsd:element>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="Polygon">
      <xsd:annotation>
         <xsd:documentation>a simple polygon region on the sky defined a sequence of points connected by great-circle segments</xsd:documentation>
         <xsd:appinfo>
            <vodml-ref>DemoDM:Polygon</vodml-ref>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:complexContent>
         <xsd:extension base="demodm:Shape">
            <xsd:sequence>
               <xsd:element minOccurs="1" name="points">
                  <xsd:complexType>
                     <xsd:sequence>
                        <xsd:element name="point"
                                     type="demodm:Point"
                                     minOccurs="1"
                                     maxOccurs="unbounded">
                           <xsd:annotation>
                              <xsd:documentation/>
                              <xsd:appinfo>
                                 <vodml-ref>DemoDM:Polygon.points</vodml-ref>
                              </xsd:appinfo>
                           </xsd:annotation>
                        </xsd:element>
                     </xsd:sequence>
                  </xsd:complexType>
               </xsd:element>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="catalog.AbstractSource" abstract="true">
      <xsd:annotation>
         <xsd:documentation/>
         <xsd:appinfo>
            <vodml-ref>DemoDM:catalog.AbstractSource</vodml-ref>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:complexContent>
         <xsd:extension base="demodm:catalog.AstroObject">
            <xsd:sequence>
               <xsd:element name="name" type="xsd:string" minOccurs="1" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation/>
                     <xsd:appinfo>
                        <vodml-ref>DemoDM:catalog.AbstractSource.name</vodml-ref>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="description"
                            type="xsd:string"
                            minOccurs="0"
                            maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation/>
                     <xsd:appinfo>
                        <vodml-ref>DemoDM:catalog.AbstractSource.description</vodml-ref>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="position"
                            type="demodm:catalog.SkyCoordinate"
                            minOccurs="1"
                            maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation/>
                     <xsd:appinfo>
                        <vodml-ref>DemoDM:catalog.AbstractSource.position</vodml-ref>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="positionError"
                            type="demodm:catalog.SkyError"
                            minOccurs="0"
                            maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation/>
                     <xsd:appinfo>
                        <vodml-ref>DemoDM:catalog.AbstractSource.positionError</vodml-ref>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="classification"
                            type="demodm:catalog.SourceClassification"
                            minOccurs="1"
                            maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation/>
                     <xsd:appinfo>
                        <vodml-ref>DemoDM:catalog.AbstractSource.classification</vodml-ref>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="luminosity">
                  <xsd:complexType>
                     <xsd:sequence>
                        <xsd:element name="luminosityMeasurement"
                                     type="demodm:catalog.LuminosityMeasurement"
                                     minOccurs="0"
                                     maxOccurs="unbounded"/>
                     </xsd:sequence>
                  </xsd:complexType>
               </xsd:element>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="catalog.AstroObject" abstract="true">
      <xsd:annotation>
         <xsd:documentation>Generic base class for all astronomical objects.</xsd:documentation>
         <xsd:appinfo>
            <vodml-ref>DemoDM:catalog.AstroObject</vodml-ref>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:sequence>
         <xsd:element name="objectType" type="xsd:string" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation/>
               <xsd:appinfo>
                  <vodml-ref>DemoDM:catalog.AstroObject.objectType</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="catalog.LuminosityMeasurement">
      <xsd:annotation>
         <xsd:documentation/>
         <xsd:appinfo>
            <vodml-ref>DemoDM:catalog.LuminosityMeasurement</vodml-ref>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:sequence>
         <xsd:element name="value"
                      type="ivoa:RealQuantity"
                      minOccurs="1"
                      maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation/>
               <xsd:appinfo>
                  <vodml-ref>DemoDM:catalog.LuminosityMeasurement.value</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="error"
                      type="ivoa:RealQuantity"
                      minOccurs="0"
                      maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation/>
               <xsd:appinfo>
                  <vodml-ref>DemoDM:catalog.LuminosityMeasurement.error</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="description"
                      type="xsd:string"
                      minOccurs="0"
                      maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation/>
               <xsd:appinfo>
                  <vodml-ref>DemoDM:catalog.LuminosityMeasurement.description</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="type"
                      type="demodm:catalog.LuminosityType"
                      minOccurs="1"
                      maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation/>
               <xsd:appinfo>
                  <vodml-ref>DemoDM:catalog.LuminosityMeasurement.type</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
         <!--this is a reference-->
         <xsd:element name="filter" type="xsd:IDREF" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation/>
               <xsd:appinfo>
                  <vodml-ref>DemoDM:catalog.LuminosityMeasurement.filter</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="catalog.SDSSSource">
      <xsd:annotation>
         <xsd:documentation/>
         <xsd:appinfo>
            <vodml-ref>DemoDM:catalog.SDSSSource</vodml-ref>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:complexContent>
         <xsd:extension base="demodm:catalog.AbstractSource"/>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="catalog.SkyCoordinateFrame">
      <xsd:annotation>
         <xsd:documentation/>
         <xsd:appinfo>
            <vodml-ref>DemoDM:catalog.SkyCoordinateFrame</vodml-ref>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:sequence>
         <xsd:element name="name" type="xsd:ID" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation/>
               <xsd:appinfo>
                  <vodml-ref>DemoDM:catalog.SkyCoordinateFrame.name</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="documentURI"
                      type="xsd:anyURI"
                      minOccurs="1"
                      maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation/>
               <xsd:appinfo>
                  <vodml-ref>DemoDM:catalog.SkyCoordinateFrame.documentURI</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="equinox" type="xsd:string" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation/>
               <xsd:appinfo>
                  <vodml-ref>DemoDM:catalog.SkyCoordinateFrame.equinox</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="system" type="xsd:string" minOccurs="0" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation/>
               <xsd:appinfo>
                  <vodml-ref>DemoDM:catalog.SkyCoordinateFrame.system</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="catalog.Source">
      <xsd:annotation>
         <xsd:documentation/>
         <xsd:appinfo>
            <vodml-ref>DemoDM:catalog.Source</vodml-ref>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:complexContent>
         <xsd:extension base="demodm:catalog.AbstractSource"/>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="catalog.TwoMassSource">
      <xsd:annotation>
         <xsd:documentation/>
         <xsd:appinfo>
            <vodml-ref>DemoDM:catalog.TwoMassSource</vodml-ref>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:complexContent>
         <xsd:extension base="demodm:catalog.AbstractSource"/>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="catalog.AlignedEllipse">
      <xsd:annotation>
         <xsd:documentation/>
         <xsd:appinfo>
            <vodml-ref>DemoDM:catalog.AlignedEllipse</vodml-ref>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:complexContent>
         <xsd:extension base="demodm:catalog.SkyError">
            <xsd:sequence>
               <xsd:element name="longError" type="xsd:float" minOccurs="1" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation/>
                     <xsd:appinfo>
                        <vodml-ref>DemoDM:catalog.AlignedEllipse.longError</vodml-ref>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="latError" type="xsd:float" minOccurs="1" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation/>
                     <xsd:appinfo>
                        <vodml-ref>DemoDM:catalog.AlignedEllipse.latError</vodml-ref>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="catalog.CircleError">
      <xsd:annotation>
         <xsd:documentation/>
         <xsd:appinfo>
            <vodml-ref>DemoDM:catalog.CircleError</vodml-ref>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:complexContent>
         <xsd:extension base="demodm:catalog.SkyError">
            <xsd:sequence>
               <xsd:element name="radius" type="xsd:float" minOccurs="1" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation/>
                     <xsd:appinfo>
                        <vodml-ref>DemoDM:catalog.CircleError.radius</vodml-ref>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="catalog.GenericEllipse">
      <xsd:annotation>
         <xsd:documentation/>
         <xsd:appinfo>
            <vodml-ref>DemoDM:catalog.GenericEllipse</vodml-ref>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:complexContent>
         <xsd:extension base="demodm:catalog.SkyError">
            <xsd:sequence>
               <xsd:element name="major" type="xsd:float" minOccurs="1" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation>major axis of error ellipse</xsd:documentation>
                     <xsd:appinfo>
                        <vodml-ref>DemoDM:catalog.GenericEllipse.major</vodml-ref>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="minor" type="xsd:float" minOccurs="1" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation>minor axis of error ellipse</xsd:documentation>
                     <xsd:appinfo>
                        <vodml-ref>DemoDM:catalog.GenericEllipse.minor</vodml-ref>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
               <xsd:element name="pa" type="xsd:float" minOccurs="1" maxOccurs="1">
                  <xsd:annotation>
                     <xsd:documentation>Position angle of error ellipse in coordinate system of position.</xsd:documentation>
                     <xsd:appinfo>
                        <vodml-ref>DemoDM:catalog.GenericEllipse.pa</vodml-ref>
                     </xsd:appinfo>
                  </xsd:annotation>
               </xsd:element>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="catalog.SkyCoordinate">
      <xsd:annotation>
         <xsd:documentation/>
         <xsd:appinfo>
            <vodml-ref>DemoDM:catalog.SkyCoordinate</vodml-ref>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:sequence>
         <xsd:element name="coord" type="demodm:Point" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation/>
               <xsd:appinfo>
                  <vodml-ref>DemoDM:catalog.SkyCoordinate.coord</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
         <!--this is a reference-->
         <xsd:element name="frame" type="xsd:IDREF" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation/>
               <xsd:appinfo>
                  <vodml-ref>DemoDM:catalog.SkyCoordinate.frame</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="catalog.SkyError" abstract="true">
      <xsd:annotation>
         <xsd:documentation>Error of a position on the sky.</xsd:documentation>
         <xsd:appinfo>
            <vodml-ref>DemoDM:catalog.SkyError</vodml-ref>
         </xsd:appinfo>
      </xsd:annotation>
   </xsd:complexType>
   <xsd:simpleType name="catalog.LuminosityType">
      <xsd:annotation>
         <xsd:documentation>vale</xsd:documentation>
         <xsd:appinfo>
            <vodml-ref>DemoDM:catalog.LuminosityType</vodml-ref>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:restriction base="xsd:string">
         <xsd:enumeration value="magnitude">
            <xsd:annotation>
               <xsd:documentation/>
               <xsd:appinfo>
                  <vodml-ref>DemoDM:catalog.LuminosityType.magnitude</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="flux">
            <xsd:annotation>
               <xsd:documentation/>
               <xsd:appinfo>
                  <vodml-ref>DemoDM:catalog.LuminosityType.flux</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:enumeration>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="catalog.SourceClassification">
      <xsd:annotation>
         <xsd:documentation/>
         <xsd:appinfo>
            <vodml-ref>DemoDM:catalog.SourceClassification</vodml-ref>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:restriction base="xsd:string">
         <xsd:enumeration value="target">
            <xsd:annotation>
               <xsd:documentation/>
               <xsd:appinfo>
                  <vodml-ref>DemoDM:catalog.SourceClassification.target</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:enumeration>
         <xsd:enumeration value="calibrator">
            <xsd:annotation>
               <xsd:documentation/>
               <xsd:appinfo>
                  <vodml-ref>DemoDM:catalog.SourceClassification.calibrator</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:enumeration>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="catalog.inner.Testing">
      <xsd:annotation>
         <xsd:documentation/>
         <xsd:appinfo>
            <vodml-ref>DemoDM:catalog.inner.Testing</vodml-ref>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:sequence>
         <xsd:element name="plain" type="xsd:string" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>a single string</xsd:documentation>
               <xsd:appinfo>
                  <vodml-ref>DemoDM:catalog.inner.Testing.plain</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
         <xsd:element minOccurs="0" name="unboundeds">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="unbounded"
                               type="xsd:string"
                               minOccurs="0"
                               maxOccurs="unbounded">
                     <xsd:annotation>
                        <xsd:documentation>an array with many elements</xsd:documentation>
                        <xsd:appinfo>
                           <vodml-ref>DemoDM:catalog.inner.Testing.unbounded</vodml-ref>
                        </xsd:appinfo>
                     </xsd:annotation>
                  </xsd:element>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="apoint" type="demodm:Point" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation/>
               <xsd:appinfo>
                  <vodml-ref>DemoDM:catalog.inner.Testing.apoint</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="acircle" type="demodm:Circle" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation/>
               <xsd:appinfo>
                  <vodml-ref>DemoDM:catalog.inner.Testing.acircle</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="apoly" type="demodm:Polygon" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation/>
               <xsd:appinfo>
                  <vodml-ref>DemoDM:catalog.inner.Testing.apoly</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="catalog.inner.SourceCatalogue">
      <xsd:annotation>
         <xsd:documentation/>
         <xsd:appinfo>
            <vodml-ref>DemoDM:catalog.inner.SourceCatalogue</vodml-ref>
         </xsd:appinfo>
      </xsd:annotation>
      <xsd:sequence>
         <xsd:element name="name" type="xsd:string" minOccurs="1" maxOccurs="1">
            <xsd:annotation>
               <xsd:documentation>the name of the catalogue</xsd:documentation>
               <xsd:appinfo>
                  <vodml-ref>DemoDM:catalog.inner.SourceCatalogue.name</vodml-ref>
               </xsd:appinfo>
            </xsd:annotation>
         </xsd:element>
         <xsd:element name="entry">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="abstractSource"
                               type="demodm:catalog.AbstractSource"
                               minOccurs="0"
                               maxOccurs="unbounded"/>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="aTest"
                      type="demodm:catalog.inner.Testing"
                      minOccurs="0"
                      maxOccurs="1"/>
         <xsd:element name="aTestMore">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="testing"
                               type="demodm:catalog.inner.Testing"
                               minOccurs="0"
                               maxOccurs="unbounded"/>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>
</xsd:schema>
